<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary" id="sidenavbar">
<nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
id="navbarVertical" *ngIf="login">
<div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" href="#">
        <img src="./../../assets/Images/logo.png" alt="" style="width: 100px; height: 100px;">
        <span>Account<b> Opening</b></span>
    </a>
    <!-- User menu (mobile) -->
    <div class="navbar-user d-lg-none">
        <!-- Dropdown -->
        <div class="dropdown">
            <!-- Menu -->
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarAvatar">
                <a href="#" class="dropdown-item">Profile</a>
                <a href="#" class="dropdown-item">Settings</a>
                <a href="#" class="dropdown-item">Billing</a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">Logout</a>
            </div>
        </div>
    </div>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidebarCollapse">
        <!-- Navigation -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" (click)="navigateToRegistration()" [ngClass]="{'activeLink' : registration}">
                    <i class="bi bi-house"></i> Registration
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="navigateToProfile()"  [ngClass]="{'activeLink' : profile}" [ngStyle]="{'pointer-events': profileDisable ? 'auto' : 'none'}">
                    <i class="bi bi-bar-chart"></i> Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="navigateToBank()"  [ngClass]="{'activeLink' : bank}" [ngStyle]="{'pointer-events': bankDisable ? 'auto' : 'none'}">
                    <i class="bi bi-chat"></i> Bank
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="navigateToProduct()"  [ngClass]="{'activeLink' : product}" [ngStyle]="{'pointer-events': productDisable ? 'auto' : 'none'}">
                    <i class="bi bi-bookmarks"></i> Prouct
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="navigateToDocument()" [ngClass]="{'activeLink' : document}" [ngStyle]="{'pointer-events': documentDisable ? 'auto' : 'none'}">
                    <i class="bi bi-people"></i> Document
                </a>
            </li>
        </ul>
        <!-- Divider -->
        <hr class="navbar-divider my-5 opacity-20">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link">
                    <i class="bi bi-person-square"></i> 
                    {{referenceNumber}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logOut()">
                    <i class="bi bi-box-arrow-left"></i> Logout
                </a>
            </li>
        </ul>
    </div>
</div>
</nav>
<div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <router-outlet (newItemEvent)="addItem($event)"></router-outlet>
</div>
</div>