.activeLink {
    background: #6658d3;
    border-bottom-right-radius: 30px !important;
    border-top-right-radius: 30px !important;
    cursor: pointer;
    color: white !important;
}
.activeLink:hover {
    background: #6658d3 !important;
    border-bottom-right-radius: 30px !important;
    border-top-right-radius: 30px !important;
    color: white !important;
}
