<!-- Header -->
<header class="bg-surface-primary border-bottom pt-6">
    <div class="container-fluid">
        <div class="mb-npx">
            <div class="row align-items-center">
                <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                    <!-- Title -->
                    <h1 class="h2 mb-0 ls-tight">Profile</h1>
                </div>
                <!-- Actions -->
                <div class="col-sm-6 col-12 text-sm-end">
                    <div class="mx-n1">
                        <a href="#" class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                            <span class=" pe-2">
                                <i class="bi bi-pencil"></i>
                            </span>
                            <span>Edit</span>
                        </a>
                        <a href="#" class="btn d-inline-flex btn-sm btn-primary mx-1">
                            <span class=" pe-2">
                                <i class="bi bi-plus"></i>
                            </span>
                            <span>Create</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Nav -->
            <ul class="nav nav-tabs mt-4 overflow-x border-0">

            </ul>
        </div>
    </div>
</header>
<!-- Main -->
<main class="py-6 bg-surface-secondary">
    <div class="container-fluid">
        <div class="card shadow border-0 mb-7">
            <div class="card-header">
                <form>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Title</label>
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option selected></option>
                                    <option value="1">Mr</option>
                                    <option value="2">Mrs</option>
                                    <option value="3">Miss</option>
                                    <option value="4">Dr</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Name</label>
                                <input type="text" id="form1Example1" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Email</label>
                                <input type="text" id="form1Example1" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Mobile Number</label>
                                <input type="text" id="form1Example1" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Maritial Status</label>
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option selected>Maritial Status</option>
                                    <option value="1">Single</option>
                                    <option value="2">Married</option>
                                    <option value="3">Widow</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Father's Name</label>
                                <input type="text" id="form1Example1" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Occupation</label>
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option selected>Occupation</option>
                                    <option value="1">Private</option>
                                    <option value="2">Government</option>
                                    <option value="3">Agriculture</option>
                                    <option value="4">Industrial</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Annual Income</label>
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option selected>Annula Income</option>
                                    <option value="1">1-5</option>
                                    <option value="2">5-10</option>
                                    <option value="3">10-50</option>
                                    <option value="4">50-1CR</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Trading Experience</label>
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option selected>Trading Experience</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    <option value="4">Four and Above</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-5">
                            <div class="form-outline mb-4">
                                <input type="radio" class="form-check-input" id="form1Example1" name="nominee"
                                    (change)="addNominee()">
                                <label class="form-label" for="form1Example1" style="font-size: 17px;padding: 5px;">Yes
                                    I wish to add nominee</label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-outline mb-4">
                                <input type="radio" class="form-check-input" id="form1Example1" name="nominee"
                                    (change)="closeNominee()" checked>
                                <label class="form-label" for="form1Example1" style="font-size: 17px;padding: 5px;">No,
                                    I dont to wish add nominee</label>
                            </div>
                        </div>
                    </div>
                    <div class="nomineeDetails" *ngIf="nominee">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example1">Nominee FirstName</label>
                                    <input type="text" id="form1Example1" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example1">Nominee LastName</label>
                                    <input type="text" id="form1Example1" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example1">Date of Birth</label>
                                    <input type="text" id="form1Example1" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example1">Nominee realationship with
                                        Client</label>
                                    <select class="form-select form-select-lg mb-3"
                                        aria-label=".form-select-lg example">
                                        <option selected>Relationship</option>
                                        <option value="1">Mother</option>
                                        <option value="2">Father</option>
                                        <option value="3">Spouse</option>
                                        <option value="4">Children</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example1">Id Proof</label>
                                    <select class="form-select form-select-lg mb-3"
                                        aria-label=".form-select-lg example">
                                        <option selected>ID Proof</option>
                                        <option value="1">Aadhaar</option>
                                        <option value="2">Voter ID</option>
                                        <option value="3">Driving License</option>
                                        <option value="4">Passport</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example1">Id Proof Number</label>
                                    <input type="text" id="form1Example1" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-5">Proceed</button>
                </form>
            </div>
        </div>
    </div>
</main>