<!-- Header -->
<header class="bg-surface-primary border-bottom pt-6">
    <div class="container-fluid">
        <div class="mb-npx">
            <div class="row align-items-center">
                <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                    <!-- Title -->
                    <h1 class="h2 mb-0 ls-tight">Profile</h1>
                </div>
                <!-- Actions -->
                <div class="col-sm-6 col-12 text-sm-end">
                    <div class="mx-n1">
                        <a href="#" class="btn d-inline-flex btn-sm btn-primary mx-1">
                            <span class=" pe-2">
                                <i class="bi bi-pencil"></i>
                            </span>
                            <span>Edit</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Nav -->
            <ul class="nav nav-tabs mt-4 overflow-x border-0">

            </ul>
        </div>
    </div>
</header>
<!-- Main -->
<main class="py-6 bg-surface-secondary">
    <div>
        <div class="card shadow border-0 mb-7">
            <div class="card-header">
                <form [formGroup]="profileForm" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Title</label>
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                    formControlName="title">
                                    <option *ngFor="let salu of salute" value="{{salu}}">{{salu}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Name</label>
                                <input type="text" id="form1Example1" class="form-control" formControlName="name" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Email</label>
                                <input type="text" id="form1Example1" class="form-control" formControlName="email" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Mobile Number</label>
                                <input type="text" id="form1Example1" class="form-control"
                                    formControlName="mobileNumber" />
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Maritial Status</label>
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                    formControlName="martialStatus">
                                    <option *ngFor="let status of martial" value="{{status}}">{{status}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Father's Name</label>
                                <input type="text" id="form1Example1" class="form-control"
                                    formControlName="fatherName" />
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Occupation</label>
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                    formControlName="occupation">
                                    <option *ngFor="let work of sector" value="{{work}}">{{work}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Annual Income</label>
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                    formControlName="annualIncome">
                                    <option *ngFor="let annual of income" value="{{annual}}">{{annual}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example1">Trading Experience</label>
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                    formControlName="tradingExperience">
                                    <option *ngFor="let exp of experience" value="{{exp}}">{{exp}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-5">
                            <div class="form-outline mb-4">
                                <input type="radio" class="form-check-input" id="form1Example1" name="nominee"
                                    (change)="addNominee()">
                                <label class="form-label" for="form1Example1" style="font-size: 17px;padding: 5px;">Yes
                                    I wish to add nominee</label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-outline mb-4">
                                <input type="radio" class="form-check-input" id="form1Example1" name="nominee"
                                    (change)="closeNominee()" checked>
                                <label class="form-label" for="form1Example1" style="font-size: 17px;padding: 5px;">No,
                                    I dont to wish add nominee</label>
                            </div>
                        </div>
                    </div>
                    <div class="nomineeDetails" *ngIf="nominee" formGroupName="nominee">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example1">Nominee FirstName</label>
                                    <input type="text" id="form1Example1" class="form-control"
                                        formControlName="nomineeFirstName" />
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example1">Nominee LastName</label>
                                    <input type="text" id="form1Example1" class="form-control"
                                        formControlName="nomineeLastName" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example1">Date of Birth</label>
                                    <input type="text" id="form1Example1" class="form-control"
                                        formControlName="nomineeDateOfBirth" />
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example1">Nominee realationship with
                                        Client</label>
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                        formControlName="nomineeRelationShip">
                                        <option *ngFor="let rel of relations" value="{{rel}}">{{rel}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example1">Id Proof</label>
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                        formControlName="nomineeIdProof">
                                        <option *ngFor="let doc of documents" value="{{doc}}">{{doc}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example1">Id Proof Number</label>
                                    <input type="text" id="form1Example1" class="form-control"
                                        formControlName="nomineeIdProofNumber" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-5" (click)="profileSubmit()">Proceed</button>
                </form>
            </div>
        </div>
    </div>
</main>